* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* ESCONDE O CURSOR DO SISTEMA */
.hide-cursor,
.hide-cursor * {
  cursor: none !important;
}

/* GARANTE TELA CHEIA */
#app {
  width: 100%;
  height: 100%;
}
